
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <style>
        .radio{display: inline-block; width: 15%; height: 20px; margin: 0 auto; text-align: center;}
        .warp{display: block; width: 100%; height: auto;  background: url(http://localhost:8080/image/pic2.jpg) no-repeat;}
        .content{width: 1000px; height: auto;}
        .left h3{color: #dbe3f9;}
        .left{display: block; float: left; width: 270px; height: 100%; position: absolute; top: 0px; left: 0px; background-color: #4066d4; }
        .left ul{display: block; width: 270px;  list-style: none; padding: 0px !important; margin-top: 40px; }
        .left ul li{display: block; width: 100%; height: 60px; margin-bottom: 2px; text-align: center; }
        .left ul li a{font-size: 15px; color: #dbe3f9; line-height: 60px; font-weight: bold;}
        .left ul li:hover{background-color: #FF0000;}
        .on{background-color: #FF0000 !important;}
        .top{width: 100%; height: 100px; background-color: blue;}
    </style>

</head>
<body >
<div class="warp">
    <div class="left">
        <h3>管理平台</h3>
        <ul>
            <li ><a href="/home">首      页</a></li>
            <li class="on"><a href="/ttt">管理平台</a></li>
            <li><a href="/home">管理平台</a></li>
            <li><a href="/home">管理平台</a></li>
        </ul>
    </div>
    <div class="container content">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="jumbotron">
                            <h1>
                                新建菜肴
                            </h1>
                            <p th:text="${continue}">
                                请输入新菜肴的数据
                            </p>
                        </div>
                        <!--/*@thymesVar id="menu" type="com.ygy.model.Menu"*/-->
                        <form role="form" action="#" th:action="'/addMenu/'+${RestaId}" method="post" th:object="${menu}" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputEmail1">name：</label><input type="text" th:field="${menu.mName}" class="form-control"  />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">weather</label><input type="text" th:field="${menu.weather}" class="form-control" id="exampleInputPassword1" />
                            </div>
                            <div class="form-group">
                                <label >File input</label>
                                <input type="file" name="file"/>
                                <p class="help-block">
                                    Example block-level help text here.
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">price：</label><input type="text"  th:field="${menu.price}" class="form-control" id="exampleInputEmail1" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">type：</label><input type="text"  th:field="${menu.mType}" class="form-control" id="exampleInputEmail11" />
                            </div>

                            <div class="season">
                                <label for="exampleInputEmail1">season：</label>
                                <label class="radio">
                                    <input type="radio" name="optionsRadios" th:field="${menu.season}"  th:value="1">  1</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="optionsRadios"   th:field="${menu.season}"  th:value="2"> 2</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="optionsRadios"   th:field="${menu.season}"   th:value="3">3</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="optionsRadios"   th:field="${menu.season}"   th:value="4">4</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="optionsRadios"    th:field="${menu.season}"   th:value="5">5</input>
                                </label>
                            </div>
                            <div class="hotcold">
                                <label for="exampleInputEmail1">hotcold：</label>
                                <label class="radio">
                                    <input type="radio" name="hotcold" th:field="${menu.hotcold}" th:value="1" >  1</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="hotcold" th:field="${menu.hotcold}"  th:value="2"> 2</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="hotcold" th:field="${menu.hotcold}"  th:value="3">3</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="hotcold"  th:field="${menu.hotcold}" th:value="4">4</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="hotcold" th:field="${menu.hotcold}"  th:value="5">5</input>
                                </label>
                            </div>
                            <div class="menu_hot">
                                <label for="exampleInputEmail1">hot：</label>
                                <label class="radio">
                                    <input type="radio" name="menu_hot"  th:field="${menu.menuHot}"  th:value="1" >  1</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_hot"     th:field="${menu.menuHot}"   th:value="2"> 2</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_hot"     th:field="${menu.menuHot}"   th:value="3">3</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_hot"     th:field="${menu.menuHot}"  th:value="4">4</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_hot"     th:field="${menu.menuHot}"  th:value="5">5</input>
                                </label>
                            </div>

                            <div class="menu_acid">
                                <label for="exampleInputEmail1">acid：</label>
                                <label class="radio">
                                    <input type="radio" name="menu_acid"  th:field="${menu.menuAcid}"  th:value="1" >  1</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_acid"    th:field="${menu.menuAcid}" th:value="2"> 2</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_acid"    th:field="${menu.menuAcid}"  th:value="3">3</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_acid"    th:field="${menu.menuAcid}"  th:value="4">4</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_acid"    th:field="${menu.menuAcid}"  th:value="5">5</input>
                                </label>
                            </div>
                            <!--甜度-->
                            <div class="menu_sweet">
                                <label for="exampleInputEmail1">sweet：</label>
                                <label class="radio">
                                    <input type="radio" name="menu_sweet" th:field="${menu.menuSweet}"   th:value="1" >  1</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_sweet" th:field="${menu.menuSweet}"    th:value="2"> 2</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_sweet"    th:field="${menu.menuSweet}"  id="optionsRadios3"  th:value="3">3</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_sweet"    th:field="${menu.menuSweet}"  id="optionsRadios4"  th:value="4">4</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_sweet"   th:field="${menu.menuSweet}"  id="optionsRadios5"  th:value="5">5</input>
                                </label>
                            </div>
                            <!--bitter-->
                            <div class="menu_bitter">
                                <label for="exampleInputEmail1">bitter：</label>
                                <label class="radio">
                                    <input type="radio" name="menu_bitter"  th:field="${menu.menuBitter}" id="optionsRadios1"  th:value="1" >  1</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_bitter"      th:field="${menu.menuBitter}"  th:value="2"> 2</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_bitter"    th:field="${menu.menuBitter}"   th:value="3">3</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_bitter"    th:field="${menu.menuBitter}"    th:value="4">4</input>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="menu_bitter"    th:field="${menu.menuBitter}"    th:value="5">5</input>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" />Check me out</label>
                            </div> <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
</html>